nozzle_angle=45;        % degrees
nozzle_dia=10;          % mm
nozzle_depth=16;        % mm
flow_rate=15;           % percent
pass_spacing=0.3;       % mm; ironing pitch
fill_pattern="linear";  % "linear", "radial", ""
scan_angle=30;          % degrees; scan angle
min_segment_length=0.5; % mm; the minimum permitted "x"-distance between two points in a pass
perimeters=1;           % int; number of ironing passes tracing the boundary of a face
face_tolerance=30;      % degrees; face normals must be within x deg of each other to be considered consecutive
require_custom_supports=True;   % bool; whether or not tris should be judged on whether or not they're painted with support blocker
fill_all_groups=True    % bool; fill all groups at once; if False, each face group will be ironed sequentially

cell_size
sample_step
nozzle_dia
ironing_width
ironing_height
z_offset
reach_depth
z_hop
